<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Escola de educação infantil Algodão Doce - Canoas/RS</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="page-title" href="#page-top">Algodão Doce</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Turmas</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">A Escola</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#cardapio">Cardápio</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#calendar">Calendário</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#gallerys">Galerias</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contato</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#restrict">Restrito</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/logo-algodao.jpg" alt="" />
                    <div class="intro-text">
                        <span class="name" id="welcome_message">Bem vindo</span>
                        <hr class="star-light azul">
                        <span class="skills">Cuidando com doçura do seu maior patrimônio.</span>
                    </div>                    
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Turmas</h2>
                    <hr class="star-primary rosa">
                  </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/bercario_360w.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="text-center"><h5>Berçário</h5></div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/maternal_360w.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="text-center"><h5>Maternal</h5></div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/jardim_360w.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="text-center"><h5>Jardim</h5></div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>A Algodão Doce</h2>
                    <hr class="star-light rosa">
                </div>
            </div>
            <div class="row empresa">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3><i class="fa fa-university"></i> Nossa História</h3>
                    <br />
                    <img src="img/portfolio/fachada.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <p>
                        Em Maio de 2015 a <strong>Escola Algodão Doce</strong> (que já existia há 8 anos) foi adquirida pela pedagoga Taniamar Sufredini Alberton, que por ter trabalhado muitos anos na supervisão de creches do municipio de Canoas, sempre teve como "sonho" poder continuar esse trabalho mesmo após sua aposentadoria.
                    </p>
                     <br />
                    <img src="img/portfolio/frente_escola.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <p>
                        A possibilidade surgiu quando foi convidada a ser sócia da antiga proprietária, pois há quatro anos já atuava como orientadora pedagógica desta escola.
                    </p>
                    <br />
                    <img src="img/portfolio/empresa_02.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <p>
                        O primeiro passo foi legalizar deixando de acordo com todas as normas do conselho municipal de educação, tarefa essa que exigiu muito empenho e recursos financeiro. mas em janeiro 2016 conseguimos entregar 100% das exigências e hoje estamos plenamente aptos para exercer essa função.
                    </p>
                    <br />
                    <img src="img/portfolio/empresa_03.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <p>
                        Segundo passo foi reformar e climatizar todas as salas de aula, pois acreditamos que aprendizagem necessita de um bom ambiente. investimos em brinquedos e reformamos também a area externa.
                    </p>
                    <br />
                    <img src="img/portfolio/empresa_04.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <p>
                        Hoje nossa escola oferece o que tem de melhor em acomodações, pois acreditamos que o bem estar das crianças é fundamental para processo de aprendizagem. 
                    </p>
                    <br />
                    <img src="img/portfolio/empresa_05.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <p>Temos também a satisfação de apresentar que a <strong>Escola Algodão Doce</strong> conta com profissionais qualificados e equipe multidisciplinar, com pedagoga, psicopedagoga e nutricionista. </p>
                </div>
                <div class="col-lg-4">
                    <h3><i class="fa fa-home"></i> Nossas instalações</h3>
                    <br />
                    <img src="img/portfolio/crianca_brincando.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <p>
                        Nossas instalações foram pensadas para o bem estar das crianças, onde todas salinhas são amplas e climatizadas.
                    </p>
                    <p>
                        Nosso berçário possui piso térmico, anti-alérgico e emborrachado, que facilitam o engatinhar e os primeiros passinhos dos bebes.
                    </p>
                    <p>
                        Possuímos um amplo espaço externo com playground , que proporciona muitas atividades ao ar livre, alem do espaço coberto com onde temos a piscina de bolinhas e cama elástica. 
                    </p>
                    <p>Trabalhamos com turmas reduzidas, proporcionando melhor qualidade de ensino. Com salas climatizadas e amplo espaço para recreação, além de termos <strong>monitoramento por câmeras</strong> garantindo a segurança de seu filho/filha.</p>
                    <br />
                    <img src="img/portfolio/instalacoes_01_360w.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <img src="img/portfolio/instalacoes_20_360w.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <img src="img/portfolio/instalacoes_03_360w.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <img src="img/portfolio/instalacoes_05_360w.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <img src="img/portfolio/instalacoes_06_360w.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <img src="img/portfolio/instalacoes_07_360w.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <img src="img/portfolio/instalacoes_08_360w.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <img src="img/portfolio/instalacoes_09_360w.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <img src="img/portfolio/instalacoes_10_360w.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <img src="img/portfolio/instalacoes_11_360w.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <img src="img/portfolio/instalacoes_12_360w.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <img src="img/portfolio/instalacoes_13_360w.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <img src="img/portfolio/instalacoes_14_360w.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <img src="img/portfolio/instalacoes_15_360w.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <img src="img/portfolio/instalacoes_16_360w.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <img src="img/portfolio/instalacoes_17_360w.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <img src="img/portfolio/instalacoes_18_360w.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <img src="img/portfolio/instalacoes_19_360w.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="img/portfolio/video.mp4"></iframe>
                    </div>
                </div>
      
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3>Horários</h3>
                    <p><i class="fa fa-clock-o fa-2x"></i> Nosso horário de funcionamento é de Segunda à Sexta das <span>07:00</span> às <span>19:00</span> horas.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Cardápio Section -->
    <section id="cardapio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>O Cardápio mensal</h2>
                    <hr class="star-light rosa">
                </div>
            </div>
            <div class="row cardapio">
                <div class="col-lg-4 col-lg-offset-2">
                    <br />
                    <img src="img/portfolio/cardapio.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <p>
                        Toda alimentação é fornecida pela escola, orientada e supervisionada pela nutricionista.
                    </p>
                    <p>
                        Todos os alimentos e procedimentos são minunciosamente cuidados quanto higiene e o preparo de cada refeição, sem utilização de frituras, embutidos, torando nosso cardápio saboroso e equilibrado para garantir o crescimento saudável das crianças.
                    </p>
                </div>
                <div class="col-lg-4">
                    <h4><i class="fa fa-cutlery"></i> Cardápios para Download</h4>
                    <ul style="list-style: none; line-height: 4em;">
                        <li>
                            <a href="#">
                                <i class="fa fa-file-pdf-o fa-2x"></i> Cardápio Berçário Almoço e Janta.
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-file-pdf-o fa-2x"></i> Cardápio Maternal de 03/07 à 07/07.
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-file-pdf-o fa-2x"></i> Cardápio Maternal de 10/07 à 14/07.
                            </a>
                        </li>
                         <li>
                            <a href="#">
                                <i class="fa fa-file-pdf-o fa-2x"></i> Cardápio Maternal de 17/07 à 21/07.
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-file-pdf-o fa-2x"></i> Cardápio Maternal de 24/07 à 28/07.
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Calendario Section -->
    <section id="calendar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Calendário de Atividades</h2>
                    <hr class="star-light rosa">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h4><i class="fa fa-calendar"></i> Primeiro Semestre</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <tr class="info">
                                <th>Mês</th>
                                <th>Dia/Hora</th>
                                <th>Atividade</th>
                            </tr>
                            <tr>
                                <td>Fevereiro</td>
                                <td>24/02/2017</td>
                                <td><s>Fantasias (Festa a fantasia)</s></td>
                            </tr>
                            <tr class="active">
                                <td>Fevereiro</td>
                                <td> - </td>
                                <td><s>Carnaval</s></td>
                            </tr>
                            <tr>
                                <td>Março/td>
                                <td> - </td>
                                <td><s>Eu sou Especial (Identidade)</s></td>
                            </tr>
                            <tr class="active">
                                <td>Março</td>
                                <td> - </td>
                                <td><s>Família</s></td>
                            </tr>
                            <tr>
                                <td>Abril</td>
                                <td> - </td>
                                <td><s>Conhecendo o Sítio do Picapau Amarel) Chás (Hortelã e Poejo)</s></td>
                            </tr>
                            <tr class="active">
                                <td>Abril</td>
                                <td>16/04/2017</td>
                                <td><s>Páscoa</s></td>
                            </tr>
                            <tr>
                                <td>Abril</td>
                                <td>19/04/2017</td>
                                <td><s>Dia do Indio</s></td>
                            </tr>
                            <tr class="active">
                                <td>Maio</td>
                                <td>12/05/2017</td>
                                <td><s>Homenagem as Mães</s></td>
                            </tr>
                            <tr>
                                <td>Maio</td>
                                <td>14/05/2017</td>
                                <td><s>Dia das Mães (Apresentação e confecção de cartões e lembrançinhas</s></td>
                            </tr>
                            <tr class="active">
                                <td>Maio</td>
                                <td> - </td>
                                <td><s>Higiene e Sáude (Trabalhos e Músicas)</s></td>
                            </tr>
                            <tr>
                                <td>Maio</td>
                                <td> - </td>
                                <td><s>Formas de Comunicação</s></td>
                            </tr>
                            <tr class="active">
                                <td>Junho</td>
                                <td> - </td>
                                <td><s>Natureza e Sociedade (Cultivando) horta escolar (Salsa, cebolinha, rúcula e chás de Hortelã e Poejo)</s></td>
                            </tr>
                            <tr>
                                <td>Junho</td>
                                <td>05/06/2017</td>
                                <td><s>Dia mundial do meio ambiente (Importância da preservação dos meios naturais água, solo e reciclagem)</s></td>
                            </tr>
                            <tr class="active">
                                <td>Junho</td>
                                <td> - </td>
                                <td><s>Percebendo os Sons (Percepção auditiva e linguagem oral)</s></td>
                            </tr>
                            <tr>
                                <td>Junho</td>
                                <td>23/06/2017</td>
                                <td><s>Festa Junina</s></td>
                            </tr>
                            <tr class="active">
                                <td>Junho</td>
                                <td>24/06/2017</td>
                                <td><s>Festa Junina</s></td>
                            </tr>
                            <tr>
                                <td>Junho</td>
                                <td> - </td>
                                <td><s>Canoas minha cidade (Passeio na cidade pontos importantes - Vila Mimosa - Praça do Avião - Prefeitura - Correio - Estão de Trem (escultura de Canoas), Museu, Câmera de Vereadores e o Shopping).</s></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h4><i class="fa fa-calendar"></i> Segundo Semestre</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <tr class="info">
                                <th>Mês</th>
                                <th>Dia/Hora</th>
                                <th>Atividade</th>
                            </tr>
                            <tr>
                                <td>Julho</td>
                                <td> - </td>
                                <td>Dia do Amigo (Convite de amigos para passear na escolinha, filme e pipoca)</td>
                            </tr>
                            <tr class="active">
                                <td>Julho</td>
                                <td> - </td>
                                <td>Misturando as cores (Primárias e Secundárias)</td>
                            </tr>
                            <tr>
                                <td>Julho</td>
                                <td> - </td>
                                <td>Chá com a Vovó</td>
                            </tr>
                            <tr class="active">
                                <td>Julho</td>
                                <td> - </td>
                                <td>Entrega de Avaliações</td>
                            </tr>
                            <tr>
                                <td>Agosto</td>
                                <td> - </td>
                                <td>Entrega dos pareceres do 1º Semestre - Data ser comunicada.</td>
                            </tr>
                            <tr class="active">
                                <td>Agosto</td>
                                <td>01/08/2017 à 11/08/2017</td>
                                <td>Projeto dia dos Pais</td>
                            </tr>
                            <tr>
                                <td>Agosto</td>
                                <td>14/08/2017</td>
                                <td>Semana do Folclore (Lendas, Cantigas e Danças Folclóricas).</td>
                            </tr>
                            <tr class="active">
                                <td>Agosto</td>
                                <td>25/08/2017</td>
                                <td>Dia do Soldado ( Dobradura do chapéu de soldado e construção do soldadinho com sucata )</td>
                            </tr>
                            <tr>
                                <td>Setembro</td>
                                <td>07/09/2017</td>
                                <td>Feriado Independência do Brasil</td>
                            </tr>
                            <tr class="active">
                                <td>Setembro/td>
                                <td>11/09/2017 à 19/09/2017</td>
                                <td>Projeto Semana Farroupilha "Somos Gaúchos Tchê"</td>
                            </tr>
                            <tr>
                                <td>Setembro</td>
                                <td>20/09/2017</td>
                                <td>Feriado Farroupilha</td>
                            </tr>
                            <tr class="active">
                                <td>Setembro/td>
                                <td>21/09/2017</td>
                                <td>Dia da árvore - Plantar uma com as crianças</td>
                            </tr>
                            <tr>
                                <td>Setembro</td>
                                <td>22/09/2017</td>
                                <td>Projeto Estações do ano - Inicio da Primavera</td>
                            </tr>
                            <tr class="active">
                                <td>Outubro</td>
                                <td>03/10/2017 à 11/10/2017</td>
                                <td>Projeto "Como é bom ser Criança"</td>
                            </tr>
                            <tr>
                                <td>Outubro</td>
                                <td>12/10/2017</td>
                                <td>Feriado Nossa Senhora Aparecida</td>
                            </tr>
                            <tr class="active">
                                <td>Outubro</td>
                                <td>15/10/2017</td>
                                <td>Dia do Professor</td>
                            </tr>
                            <tr>
                                <td>Novembro</td>
                                <td>02/11/2017</td>
                                <td>Feriado Finados</td>
                            </tr>
                            <tr class="active">
                                <td>Novembro</td>
                                <td>15/11/2017</td>
                                <td>Feriado Proclamação da República</td>
                            </tr>
                            <tr>
                                <td>Novembro</td>
                                <td>19/11/2017</td>
                                <td>Dia da Bandeira</td>
                            </tr>
                            <tr class="active">
                                <td>Novembro</td>
                                <td>20/11/2017</td>
                                <td>Dia da Consciência Negra</td>
                            </tr>
                            <tr>
                                <td>Dezembro</td>
                                <td> - </td>
                                <td>Entrega dos pareceres 2º semestre - Data ser comunicada.</td>
                            </tr>
                            <tr class="active">
                                <td>Dezembro</td>
                                <td>01/12/2017 à 22/12/2017</td>
                                <td>Projeto Natal</td>
                            </tr>
                            <tr>
                                <td>Dezembro</td>
                                <td>24/12/2017 à 01/01/2018</td>
                                <td>RECESSO DA ESCOLA</td>
                            </tr>
                        </table>
                    </div>
                </div>               
            </div>
        </div>
    </section>
    
    <!-- Galeria Section -->
    <section id="gallerys">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Fotos e Vídeos</h2>
                    <hr class="star-light azul">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3><i class="fa fa-camera"></i> Fotos</h3>
                    <p>Fotos dos últimos eventos</p>
                    <br />
                    <img src="img/portfolio/cardapio.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <br />
                    <img src="img/portfolio/cardapio.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <br />
                    <img src="img/portfolio/cardapio.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />                    
                </div>
                <div class="col-lg-4">
                    <h3><i class="fa fa-video-camera"></i> Vídeos</h3>
                    <p>Vídeos dos últimos eventos</p>
                    <br />
                    <img src="img/portfolio/cardapio.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <br />
                    <img src="img/portfolio/cardapio.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                    <br />
                    <img src="img/portfolio/cardapio.jpg" class="img-responsive img-thumbnail" alt="">
                    <br />
                    <br />
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-info"></i> Conheça Mais
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contato</h2>
                    <hr class="star-primary rosa">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Nome:</label>
                                <input type="text" class="form-control" placeholder="Nome" id="name" required data-validation-required-message="Por favor, informe o seu nome.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>E-mail:</label>
                                <input type="email" class="form-control" placeholder="E-mail" id="email" required data-validation-required-message="Por favor, informe seu e-mail.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Telefone:</label>
                                <input type="tel" class="form-control" placeholder="Telefone" id="phone" required data-validation-required-message="Por favor, informe seu telefone.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Mensagem:</label>
                                <textarea rows="5" class="form-control" placeholder="Mensagem" id="message" required data-validation-required-message="Por favor, deixe a sua mensagem."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 col-lg-offset-2 map-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3458.0852969764096!2d-51.18983188488774!3d-29.919446481928134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95197aa57c01812f%3A0x3840d656520651da!2sR.+S%C3%A3o+Lu%C3%ADs%2C+225+-+Centro%2C+Canoas+-+RS!5e0!3m2!1spt-BR!2sbr!4v1499611478443" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br />
                    <br />
                    <img src="img/portfolio/primeira_faixa.jpg" class="img-responsive" alt="">
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Endereço</h3>
                        <p><i class="fa fa-map-marker"></i> Rua São Luis, 225<br>Centro - Canoas - RS - CEP: 92310-120</p>
                        <p><i class="fa fa-mobile"></i> Telefone Escola: (51) 3031-3644</p>
                        <p><i class="fa fa-phone-square"></i> Whatsapp: (51) 98350-0009</p>
                        <p><i class="fa fa-envelope-o"></i> E-mail: escolainfantilalgodaodoce@hotmail.com</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Nossas Rede Sociais</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Sobre a Algodão Doce</h3>
                        <p>Uma escola ecológicamente comprometida com o meio Ambiente <a href="http://maxigenios.com.br">Meio Ambiente</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Algodão Doce Canoas 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Berçário</h2>
                            <hr class="star-primary rosa">
                            <img src="img/portfolio/bercario_950w.jpg" class="img-responsive img-centered" alt="">
                            <p>Morbi nec leo aliquet, viverra nunc et, aliquet mi. Mauris nec lobortis tortor, vitae ultrices odio. Donec sagittis diam in metus rhoncus, non bibendum ipsum tincidunt. Pellentesque consequat mollis ligula vel blandit. Cras tempus, odio iaculis mattis finibus, nibh felis tincidunt velit, vitae efficitur tellus sem ac est. Maecenas volutpat, sem vitae suscipit luctus, libero sapien gravida libero, id interdum dolor mi in libero. Mauris eget placerat sapien. Suspendisse potenti. Morbi in neque a tellus iaculis placerat ut nec enim.</p>
                            <!--ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul-->
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Maternal</h2>
                            <hr class="star-primary azul">
                            <img src="img/portfolio/maternal_950w.jpg" class="img-responsive img-centered" alt="">
                            <p>Morbi nec leo aliquet, viverra nunc et, aliquet mi. Mauris nec lobortis tortor, vitae ultrices odio. Donec sagittis diam in metus rhoncus, non bibendum ipsum tincidunt. Pellentesque consequat mollis ligula vel blandit. Cras tempus, odio iaculis mattis finibus, nibh felis tincidunt velit, vitae efficitur tellus sem ac est. Maecenas volutpat, sem vitae suscipit luctus, libero sapien gravida libero, id interdum dolor mi in libero. Mauris eget placerat sapien. Suspendisse potenti. Morbi in neque a tellus iaculis placerat ut nec enim.</p>
                            <!--ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul-->
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Jardim</h2>
                            <hr class="star-primary rosa">
                            <img src="img/portfolio/jardim_950w.jpg" class="img-responsive img-centered" alt="">
                            <p>Morbi nec leo aliquet, viverra nunc et, aliquet mi. Mauris nec lobortis tortor, vitae ultrices odio. Donec sagittis diam in metus rhoncus, non bibendum ipsum tincidunt. Pellentesque consequat mollis ligula vel blandit. Cras tempus, odio iaculis mattis finibus, nibh felis tincidunt velit, vitae efficitur tellus sem ac est. Maecenas volutpat, sem vitae suscipit luctus, libero sapien gravida libero, id interdum dolor mi in libero. Mauris eget placerat sapien. Suspendisse potenti. Morbi in neque a tellus iaculis placerat ut nec enim.</p>
                            <!--ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul-->
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Turma D</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/game.png" class="img-responsive img-centered" alt="">
                            <p>Morbi nec leo aliquet, viverra nunc et, aliquet mi. Mauris nec lobortis tortor, vitae ultrices odio. Donec sagittis diam in metus rhoncus, non bibendum ipsum tincidunt. Pellentesque consequat mollis ligula vel blandit. Cras tempus, odio iaculis mattis finibus, nibh felis tincidunt velit, vitae efficitur tellus sem ac est. Maecenas volutpat, sem vitae suscipit luctus, libero sapien gravida libero, id interdum dolor mi in libero. Mauris eget placerat sapien. Suspendisse potenti. Morbi in neque a tellus iaculis placerat ut nec enim.</p>
                            <!--ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul-->
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Turma E</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/safe.png" class="img-responsive img-centered" alt="">
                            <p>Morbi nec leo aliquet, viverra nunc et, aliquet mi. Mauris nec lobortis tortor, vitae ultrices odio. Donec sagittis diam in metus rhoncus, non bibendum ipsum tincidunt. Pellentesque consequat mollis ligula vel blandit. Cras tempus, odio iaculis mattis finibus, nibh felis tincidunt velit, vitae efficitur tellus sem ac est. Maecenas volutpat, sem vitae suscipit luctus, libero sapien gravida libero, id interdum dolor mi in libero. Mauris eget placerat sapien. Suspendisse potenti. Morbi in neque a tellus iaculis placerat ut nec enim.</p>
                            <!--ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul-->
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Turma F</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/submarine.png" class="img-responsive img-centered" alt="">
                            <p>Morbi nec leo aliquet, viverra nunc et, aliquet mi. Mauris nec lobortis tortor, vitae ultrices odio. Donec sagittis diam in metus rhoncus, non bibendum ipsum tincidunt. Pellentesque consequat mollis ligula vel blandit. Cras tempus, odio iaculis mattis finibus, nibh felis tincidunt velit, vitae efficitur tellus sem ac est. Maecenas volutpat, sem vitae suscipit luctus, libero sapien gravida libero, id interdum dolor mi in libero. Mauris eget placerat sapien. Suspendisse potenti. Morbi in neque a tellus iaculis placerat ut nec enim.</p>
                            <!--ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul-->
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>

</body>

</html>
